<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068709628209-dhf5b0tb5eh6gd1o20chnmui178h1hl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068709628209-dhf5b0tb5eh6gd1o20chnmui178h1hl4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1068709628209-0196ako8v194nlu4q3jh5ippglumpuqo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAufnzA9HsWmUi5I-949OFq4VXnIlEU4k0</string>
	<key>GCM_SENDER_ID</key>
	<string>1068709628209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rndeeplink</string>
	<key>PROJECT_ID</key>
	<string>deeplinkexample00</string>
	<key>STORAGE_BUCKET</key>
	<string>deeplinkexample00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068709628209:ios:9b355e1c9891fed10d8810</string>
</dict>
</plist>